/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: smaller;
  line-height: 1.4;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a9ec1), color-stop(#0a95c7), to(#6f50ef));
  background: -o-linear-gradient(top, #3a9ec1, #0a95c7, #6f50ef);
  background: linear-gradient(to bottom, #3a9ec1, #0a95c7, #6f50ef);
  color: #3f3f3f;
  height: auto;
  min-height: 1500px;
}

h1 {
  font-family: "Aclonica";
  color: #6f50ef;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-family: "Aclonica";
  color: #6f50ef;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-family: "Aclonica";
  color: #6f50ef;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  /* Hover state - focus takes care of highlighting when someone uses keyboard to navigate */
  color: #f0dcfe;
  text-decoration: underline;
  -webkit-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

a:focus {
  /* Hover state - focus takes care of highlighting when someone uses keyboard to navigate */
  color: #f0dcfe;
  text-decoration: underline;
  -webkit-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

a:active {
  /* selected link, current page */
  color: #f0dcfe;
  text-decoration: underline;
}

.company.logo {
  width: auto;
  text-align: center;
}

.company-logo img {
  height: 30px;
}

.company-logo:hover img {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.6;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 740px;
  padding: 10px;
  margin: 0 auto;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: underline;
  color: #6f50ef;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.container {
  max-width: 740px;
  min-width: 280px;
  margin: 0 auto 15px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(136, 51, 255, 0.3);
          box-shadow: 0 0 10px 0 rgba(136, 51, 255, 0.3);
}

/* ---------------- GRIDS ------------------ */
.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile img {
  max-height: 200px;
  min-width: 100px;
  text-align: center;
}

.profile-img__center {
  text-align: center;
}

.employers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}

.employers div {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
}

/* .current3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.current3-item {
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.current3-item:hover {
  background-color: var(--secondary-link-color);
  transform: scale (0.95);
} */

.projects3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.projects3-item {
  background-color: #afe1f3;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.projects3-item:hover {
  background-color: #f0dcfe;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.projects3-item:nth-child(6) {
  grid-row-start: span 2;
}

.projects3-item:nth-child(9) {
  grid-column-start: span 3;
}

.contact3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.contact3 div:nth-child(1) {
  grid-row-start: span 4;
  grid-column-start: span 2;
}

.locations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

/* .locations div:nth-child(5), div:nth-child(6){
  grid-column-start: span 2;
} */
.locations img {
  width: 100%;
}

.profile,
.locations div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  padding: 15px;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  min-width: 180px;

  /* takes the font from the outer container */
  font-family: inherit;
  font-size: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #6f50ef;
  color: #fff;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px 15px;
  border-radius: 10px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(136, 51, 255, 0.3);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  min-width: 180px;

  /* takes the font from the outer container */
  font-family: inherit;
  font-size: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #6f50ef;
  color: #fff;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px 15px;
  border-radius: 10px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(136, 51, 255, 0.3);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.6;
}

.button__secondary {
  background-color: #3a9ec1;
  color: #fff;
}

.special-text {
  background-color: #6f50ef;
  color: #fff;
}

.profile__portrait {
  max-width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.aboutme {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  max-width: 740px;
  margin: 0 auto 15px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.form {
  display: block;
  max-width: 500px;
  padding: 20px;
  margin: 0 15px 15px;
  border: 1px solid #6f50ef;
  border-radius: 10px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes color-change {
  0% {
    fill: #fcffad;
  }

  25% {
    fill: #edc655;
  }

  50% {
    fill: #ef8b55;
  }

  75% {
    fill: #f76414;
  }

  100% {
    fill: #f73838;
  }
}

@keyframes color-change {
  0% {
    fill: #fcffad;
  }

  25% {
    fill: #edc655;
  }

  50% {
    fill: #ef8b55;
  }

  75% {
    fill: #f76414;
  }

  100% {
    fill: #f73838;
  }
}

@keyframes color-change {
  0% {
    fill: #fcffad;
  }

  25% {
    fill: #edc655;
  }

  50% {
    fill: #ef8b55;
  }

  75% {
    fill: #f76414;
  }

  100% {
    fill: #f73838;
  }
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud-front {
  -webkit-animation: 15s cloud-move infinite alternate linear;
          animation: 15s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 20s cloud-move-reverse infinite alternate linear;
          animation: 20s cloud-move-reverse infinite alternate linear;
}

/*
media queries */

@media all and (max-width: 500px) {
  .contact3,
  .locations,
  .projects3,
  .profile
  /* .current3  */ {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .locations div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .locations div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .locations div:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .locations div:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .locations div:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .locations div:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .locations div:nth-child(7) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .locations div:nth-child(8) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .contact3 div:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .container {
    padding: 5px;
  }

  .employers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .employers div {
    padding: 20px;
  }

  .projects3-item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .projects3-item:nth-child(9) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .locations,
  .projects3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contact3 div:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .contact3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .projects3-item:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 1;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .projects3-item:nth-child(9) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
}

@media all and (max-width: 750px) {
  .contact3,
  .locations,
  .projects3 {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }
}